/* components/ProjectCard.module.css */

.project-card {
  padding: 20px;
  background-color: #fff; /* adjust as needed */
}

.project-card h2 {
  display: flex;
  align-items: center;
  font-size: 1.5em; /* adjust as needed */
  font-weight: 600; /* adjust as needed */
  color: #000; /* adjust as needed */
  margin-bottom: 10px; /* adjust as needed */
}

.project-card h2 span {
  margin-left: 10px;
  font-size: 0.8em; /* adjust as needed */
  font-weight: 400; /* adjust as needed */
  color: #aaa; /* adjust as needed */
  white-space: nowrap;
}

.project-card p {
  display: flex;
  align-items: center;
  font-size: 0.5em; /* adjust as needed */
  font-weight: 600; /* adjust as needed */
  color: #ffffff; /* adjust as needed */
  margin-bottom: 10px; 
}

.description {
  font-size: 1em;
  font-weight: 500;
  color: #404040;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* adjust as needed */
  margin-bottom: 20px; /* adjust as needed */
}

.tags span {
  display: flex;
  align-items: center;
  padding: 5px 10px; /* adjust as needed */
  background-color: #f2f2f2; /* adjust as needed */
  border-radius: 20px; /* adjust as needed */
  font-size: 0.9em; /* adjust as needed */
}

.links a {
  margin-right: 10px; /* adjust as needed */
  text-decoration: none;
  color: #007bff; /* adjust as needed */
  font-weight: 600; /* adjust as needed */
}
