/* Footer.css */

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divider {
  flex-grow: 1;
  height: 0.2px;
  background-color: #a3a3a3;
  margin: 0 10px;
}

.link {
    text-decoration-line: underline !important;
    text-decoration-color: #a3a3a3 !important;
    text-underline-offset: 3px !important;
}


.layout-md {
  margin-bottom: 16px;
}
